:root {
  --text-color: #292E49;
  --link-color:  #536976;
  --highlight-color: #BBD2C5;
  --accent-color: #ff8f66;
  --lightbackground-color: #ECE9E6;
}
a {
  text-decoration: none;
}

.header-color {
  background: whitesmoke;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, whitesmoke, whitesmoke);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, whitesmoke, whitesmoke); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.title-link {
  color: var(--accent-color);
}

/*landing page */

.profile-img {
  height: 250px;
  margin-top: 2em;
  border-radius: 50%;
  border: .8px solid var(--highlight-color);
}

.banner-text {
  opacity: .8;
  width: 75%;
  margin: auto;
  border-radius: 10px;
  border: 1px solid var(--highlight-color);
  margin-top: 3em;
}

.banner-text h1 {
  font-size: 40px;
  font-weight: bold;
  color: var(--text-color);
}

.banner-text hr {
  border-top: 3px dotted var(--text-color);
  padding-bottom: 2em;
  width: 50%;
  margin: auto;
}

.banner-text p {
  color: var(--text-color);
  font-size: 20px;

}

.social-links {
  display: flex;
  justify-content: center;
  width: 50%;
  margin: auto;
}

.social-links i {
  color: var(--link-color);
  font-size: 3em;
  padding: 18px;
}

/*page content*/
.page-content {
  background: whitesmoke;  /* fallback for old browsers */
  text-align: center;
  position:fixed;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: auto;
}

/*drawer*/
.material-icons {
  color: var(--link-color);
}

/*projects*/
.projects-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 3em;
}

.project-card {
  margin: 20px;
}

@media only screen and (max-width: 600px) {
  .projects-grid {
    display: flex;
    flex-direction: column;
  }

  .project-card {
    margin: 20px;
  }
}

.card-text {
  height: 150px;
  text-align: justify;
}

.card-space {
  height: 1em;
}

/*about me */
.about-me {
  margin: auto;
  max-width: 80vw;
  text-align: justify;
}


/*contact page*/
.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  padding: 4em;
  width: 350px;
}

/*loading spinner */
.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*message*/
.message {
  padding-top: 4em;
}

