body {
  background-color: #1f2c47;
}

.title {
  text-align: center;
  color: white;
}

#subheadline {
  font-size: 1em;
  margin: 0;
  padding: 0;
  color: white;
  text-align: center;
}

.title-box:hover {
  background-color:white;
  text-align: center;
  margin: 2em 5em 2em 5em;
  padding: 1.5em;
  border-radius: 1%;
}

.title-box {
  background-color: #ffa5d2;
  text-align: center;
  margin: 2em 5em 2em 5em;
  padding: 1.5em;
  border-radius: 1%;
}

a {
  text-decoration: none;
  color: black;
}

.link-colored {
  color: gray;
}

ul li {
  list-style-type: none;
}
